<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="withdrawMoneyfromATM">
        <classes>
            <class name="org.example.AppTest">
                <methods>
                    <include name="shouldAnswerWithTrue"/>
                </methods>
            </class>
            <class name="testngimpl.FirstTest">
                <!--<methods>
                    <include name="dropdownSelection"/>
                    <include name="test2"/>
                    <exclude name="test3"/>
                </methods>-->
            </class>
        </classes>
    </test>
    
    <test name="example2">
        <packages>
            <package name="testngimpl"></package>
        </packages>

    </test>
</suite>



